/* Page properties */
body{
    height: 1950px;  
    width: 99%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    background-color:black;
}

/* Contains home button and business logo */
header{
    height: 12%; 
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(32,32,32);
}

/* Home button holder */
.homebtn{ 
    height: 100%; 
    width: 20%; 
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:none;
}

.homebtn img{ 
    height: 10%;
    width: 80%;    
}

/* Business logo holder */
.logoicon{ 
    height: 100%; 
    width: 60%; 
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
}

.logoicon img{ 
    height: 60%; 
    width: auto;
}

/* Random space to fill the header and align the other containers */
.space{
    height: 100%; 
    width: 20%;
}

/* Lower section attributes */
#page{
    height: 1700px; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    background-color: black;
}

#about, #projects, #contact{
    height: 25%; 
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: rgb(32, 32, 32, 55%);
}

.abouttxt, .projectstxt, .contacttxt{
    height: 100%; 
    width: 45%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutimg, .projectsimg, .contactimg{
    height: 100%; 
    width: 55%; 
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
}

.abouttxt a, .projects a, .contact a{
    color: white;
    font-size: 24pt;
}


